@import "../../styles/keyframes.scss";

.circle {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: #ef98a761;
  border-radius: 100%;
  transition: all 0.2s;
}

.circle::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background-color: #f7bea9;
  animation: fadeInOut 2.5s ease-in-out infinite;
}
.circle:hover {
  background-color: #66404661;
}
.circle:active {
  background-color: #dd0e2d98;
}
