@import "../../styles/mixins.scss";
@import "../../styles/keyframes.scss";

.select-title {
  text-align: center;
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
}

.select-city {
  @include unturned-element;
  border-radius: 10px;
  color: #fff;
  display: flex;
  justify-content: center;
  animation: skeleton-animation 2.5s infinite;
  .arrow {
    margin-right: 20px;
  }
}

.map_regions_stats {
  margin-top: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  &-map {
    position: relative;
    &-ua_map {
      @include unturned-element;
      width: 100%;
    }
  }
  &-vertical_line {
    height: 300px;
    width: 1px;
    background-color: #000;
    margin-left: 30px;
  }
}

//selectors

.kyiv-selector {
  position: absolute;
  top: 23%;
  left: 45%;
}
.lviv-selector {
  position: absolute;
  top: 31%;
  left: 8%;
}
.rivne-selector {
  position: absolute;
  top: 21%;
  left: 21%;
}
.kharkiv-selector {
  position: absolute;
  top: 32%;
  left: 76%;
}
.dnipro-selector {
  position: absolute;
  top: 49%;
  left: 69%;
}
.odesa-selector {
  position: absolute;
  top: 70%;
  left: 45%;
}
.vinnytsia-selector {
  position: absolute;
  top: 41.7%;
  left: 36.7%;
}
.frankivsk-selector {
  position: absolute;
  top: 41%;
  left: 11.7%;
}

@media (max-width: 650px) {
  .kyiv-selector {
    top: 23%;
    left: 45%;
  }
  .rivne-selector {
    top: 22%;
    left: 19%;
  }
  .lviv-selector {
    top: 33%;
    left: 9%;
  }
  .frankivsk-selector {
    top: 42%;
    left: 11.7%;
  }
  .vinnytsia-selector {
    top: 43.1%;
    left: 36.7%;
  }
  .odesa-selector {
    top: 71%;
    left: 46%;
  }
  .kharkiv-selector {
    top: 33%;
    left: 76%;
  }
  .dnipro-selector {
    top: 50%;
    left: 69%;
  }
}
@media (max-width: 500px) {
  .kyiv-selector {
    top: 23%;
    left: 45%;
  }
  .rivne-selector {
    top: 22%;
    left: 20%;
  }
  .lviv-selector {
    top: 31%;
    left: 9%;
  }
  .frankivsk-selector {
    top: 42%;
    left: 11.7%;
  }
  .vinnytsia-selector {
    top: 42.7%;
    left: 36.7%;
  }
  .odesa-selector {
    top: 70%;
    left: 45%;
  }
  .kharkiv-selector {
    top: 33%;
    left: 76%;
  }
  .dnipro-selector {
    top: 49%;
    left: 68%;
  }
}
@media (max-width: 400px) {
  .kyiv-selector {
    top: 22%;
    left: 44.5%;
  }
  .rivne-selector {
    top: 22%;
    left: 19.5%;
  }
  .lviv-selector {
    top: 31%;
    left: 8%;
  }
  .frankivsk-selector {
    top: 42%;
    left: 11.5%;
  }
  .vinnytsia-selector {
    top: 41%;
    left: 36%;
  }
  .odesa-selector {
    top: 69%;
    left: 45%;
  }
  .kharkiv-selector {
    top: 32%;
    left: 76%;
  }
  .dnipro-selector {
    top: 48%;
    left: 68.5%;
  }
}
