@import "../../styles/fonts.scss";
@import "../../styles/mixins.scss";
@import "../../styles/keyframes.scss";

.header {
  width: 100%;
  background-color: #fff;
  height: 500px;
  color: #fff;
  &-greetings {
    @include unturned-element;
    position: relative;
    height: 500px;
    padding-top: 80px;
    &-snake {
      display: block;
      margin: 0 auto;
      filter: invert(100%);
    }
    &-gamedev_label {
      &-ukraine {
        color: #0b12fa;
        font-weight: 300;
        animation: fadeInOut 3s steps(1) infinite;
      }
      &-straight_line {
        color: red;
        animation: fadeInOut 0.5s ease-in-out infinite;
      }
      color: #000000;
      position: absolute;
      bottom: 0;
      right: 1px;
      font-family: "Roboto Mono";
      font-weight: 100;
    }
  }
}
