@import "../../styles/fonts.scss";
@import "../../styles/mixins.scss";

.header {
  width: 100%;
  background-color: #000;
  height: 500px;
  color: #fff;
  .menu {
    width: inherit;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .greetings {
    @include unturned-element;
    position: relative;
    height: 500px;
    padding-top: 80px;
    .gamedev-title {
      text-align: center;
    }
    .snake {
      display: block;
      margin: 0 auto;
    }
    .gamedev-label {
      .ukraine {
        color: yellow;
        animation: fadeInOut 3s steps(1) infinite;
      }
      .straight-line {
        color: red;
        animation: fadeInOut 0.5s ease-in-out infinite;
      }
      position: absolute;
      bottom: 0;
      right: 1px;
      font-family: "Roboto Mono";
      font-weight: 100;
    }
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
